version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    target-branch: main
    labels:
      - dependabot
    commit-message:
      prefix: BAU
  - package-ecosystem: "gradle"
    directory: "/"
    schedule:
      interval: "weekly"
  - package-ecosystem: "npm"
    directories:
      - "/"
      - "/lambdas"
    schedule:
      interval: daily
      time: "02:52"
    target-branch: main
    labels:
      - dependabot
    commit-message:
      prefix: BAU
    groups:
      aws:
        patterns:
          - "@aws-*"
      eslint:
        patterns:
          - "eslint"
          - "eslint-*"
          - "@typescript-eslint/*"
