name: Code quality

on:
  workflow_call:
    secrets:
      npm-token: { required: true }

permissions:
  packages: read

concurrency:
  group: code-quality-${{ github.workflow }}-${{ github.head_ref || github.ref_name }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  pre-commit:
    name: pre-commit
    runs-on: ubuntu-latest
    steps:
      - name: Pull repository
        uses: actions/checkout@v5

      - name: Install Node
        uses: actions/setup-node@v4
        with:
          cache: npm
          cache-dependency-path: ./package-lock.json
          registry-url: "https://npm.pkg.github.com"
          scope: "@govuk-one-login"
          always-auth: true
        env:
          NODE_AUTH_TOKEN: ${{ secrets.npm-token }}

      - name: Run pre-commit
        uses: govuk-one-login/github-actions/code-quality/run-pre-commit@0c5c351ec34f813b37ecb5c3413e49ccab534c58
        with:
          all-files: true
          pull-repository: false
          install-dependencies: true

  linting:
    name: Linting
    runs-on: ubuntu-latest
    steps:
      - name: Pull repository
        uses: actions/checkout@v5

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: zulu
          cache: gradle

      - name: Run Spotless
        run: ./gradlew --no-daemon spotlessCheck
