name: Deploy preview stack

on:
  workflow_call:
    outputs:
      stack-name:
        description: The deployed stack name
        value: ${{ jobs.deploy.outputs.stack-name }}
      stack-outputs:
        description: The deployed stack outputs
        value: ${{ jobs.deploy.outputs.stack-outputs }}
      aws-region:
        description: The region in which the stack was deployed
        value: ${{ jobs.deploy.outputs.aws-region }}

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    name: Deploy app
    runs-on: ubuntu-latest
    environment: integration-tests
    outputs:
      stack-name: ${{ steps.deploy.outputs.stack-name }}
      stack-outputs: ${{ steps.deploy.outputs.stack-outputs }}
      aws-region: ${{ steps.deploy.outputs.aws-region }}
    concurrency:
      group: check-repo-${{ github.head_ref || github.ref_name }}
      cancel-in-progress: true
    steps:
      - name: Pull repository
        uses: actions/checkout@v4

      - name: Assume AWS Role
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ vars.DEPLOYMENT_ROLE_ARN }}
          aws-region: eu-west-2

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: corretto
          cache: gradle

      - name: Build SAM application
        uses: govuk-one-login/github-actions/sam/build-application@87ae1213145261e3837cc38d5b9317422acd95c2
        id: build
        with:
          template: infrastructure/template.yaml
          cache-name: common-oauth-${{ github.head_ref || github.ref_name }}
          pull-repository: false

      - name: Deploy stack
        uses: govuk-one-login/github-actions/sam/deploy-stack@ca188729ecb0c92e5fe5ae7c024f9894815da3a1
        id: deploy
        env:
          AWS_REGION: eu-west-2
        with:
          sam-deployment-bucket: ${{ vars.DEPLOYMENT_ARTIFACTS_BUCKET }}
          aws-role-arn: ${{ vars.DEPLOYMENT_ROLE_ARN }}
          aws-region: eu-west-2
          stack-name-prefix: preview-common-lambdas
          stack-name-length-limit: 37
          cache-name: common-oauth-${{ github.head_ref || github.ref_name }}
          s3-prefix: preview
          pull-repository: false
          delete-failed-stack: true
          tags: |
            cri:component=ipv-cri-common-lambdas
            cri:stack-type=preview
            cri:application=Orange
            cri:deployment-source=github-actions
          parameters: |
            AuditEventNamePrefix=IPV_COMMON_CRI
            CriIdentifier=di-ipv-cri-check-hmrc-api
            CriAudience=https://review-hc.dev.account.gov.uk
            CriVcIssuer=https://review-hc.dev.account.gov.uk
            CriPrivateApiGwName=check-hmrc-cri-api-private
            CriPublicApiGwName=check-hmrc-cri-api-private
            Environment=dev
            IPVCoreRedirectURI=https://identity.staging.account.gov.uk/credential-issuer/callback?id=nino
            IPVCoreStubJwksEndpoint=https://test-resources.review-hc.dev.account.gov.uk/.well-known/jwks.json
            KeyRotationFallback=true
            LambdaVpcConfiguration=di-devplatform-deploy
