name: Run SonarCloud

on:
  workflow_call:
    inputs:
      coverage-run-id:
        description: The run ID to download coverage from (use when not in a PR context)
        required: false
        type: string
    secrets:
      sonar-token:
        required: true

jobs:
  sonarcloud:
    name: SonarCloud
    runs-on: ubuntu-latest
    environment: sonarcloud
    steps:
      - name: Run SonarCloud scan
        uses: govuk-one-login/github-actions/code-quality/sonarcloud@96c9e1a9adc67b587ba9ad8794ea41bb3998e184
        with:
          sonar-token: ${{ secrets.sonar-token }}
          github-token: ${{ github.token }}
          coverage-location: lambdas/coverage
          coverage-artifact: coverage
          coverage-run-id: ${{ inputs.coverage-run-id || null }}
